* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.customIntroductionBold {
    color: #0d2242;
}

@keyframes highlightAnimation {
  0% {
    background-size: 0% 100%; /* Start with no background */
    background-position: 0% 0%; /* Position the background at the start */
  }
  100% {
    background-size: 100% 100%; /* Fully fill the text */
    background-position: 0% 0%; /* Keep it aligned to the left */
  }
}

.animateHighlight {
  display: inline-block;
  background-color: #fef08a; /* light yellow background */
  background-image: linear-gradient(to right, #fef08a, #fbbf24); /* gradient effect for highlight */
  background-repeat: no-repeat;
  background-size: 0% 100%; /* Start with no background */
  animation: highlightAnimation 2s ease-in-out infinite; /* Duration and easing */
}

.scalableSpan {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.scalableSpan:hover {
  transform: scale(1.1);
}

.customHeroBannerHeight {
  /* height: calc(100vh - 56px - 24px); */
}


